.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 25px;
}

.login-credentials {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.input {
  height: 30px;
  width: 250px;
}
